In [1]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [6]:
btc = pd.read_csv('btc.csv')

In [7]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unix Timestamp  525600 non-null  int64
 1   Date            525600 non-null  object
 2   Symbol          525600 non-null  object
 3   Open            525600 non-null  float64
 4   High            525600 non-null  float64
 5   Low             525600 non-null  float64
 6   Close           525600 non-null  float64
 7   Volume          525600 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 32.1+ MB

In [8]:
btc.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1514764740,12/31/17 23:59,BTCUSD,13825.00,13825.00,13804.68,13820.26,2.610719
1,1514764680,12/31/17 23:58,BTCUSD,13815.37,13825.00,13815.37,13825.00,3.547593
2,1514764620,12/31/17 23:57,BTCUSD,13775.00,13815.37,13775.00,13815.37,18.437304
3,1514764560,12/31/17 23:56,BTCUSD,13771.00,13775.00,13770.95,13775.00,7.538428
4,1514764500,12/31/17 23:55,BTCUSD,13782.87,13782.87,13771.00,13771.00,1.657980

In [9]:
btc.describe()

,Unix Timestamp,Open,High,Low,Close,Volume
count,5.256000e+05,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000
mean,1.498997e+09,3967.195886,3969.474876,3964.807554,3967.220326,5.561148
std,9.103668e+06,3978.815356,3983.233497,3974.092824,3978.836426,37.754203
min,1.483229e+09,752.010000,753.980000,752.000000,752.010000,0.000000
25%,1.491113e+09,1198.980000,1199.030000,1198.740000,1198.980000,0.000246
50%,1.498997e+09,2567.280000,2568.020000,2566.840000,2567.290000,0.492897
75%,1.506881e+09,4544.870000,4546.050000,4544.160000,4544.877500,4.391393
max,1.514765e+09,19999.000000,19999.000000,19990.700000,19999.000000,8264.462810

In [11]:
btc.columns

Index(['Unix Timestamp', 'Date', 'Symbol', 'Open', 'High', 'Low', 'Close',
       'Volume'],
      dtype='object')

In [12]:
btc.columns=['Timestamp','Date','Symbol','Open','High','Low','Close','Volume']

In [13]:
btc.head()

,Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1514764740,12/31/17 23:59,BTCUSD,13825.00,13825.00,13804.68,13820.26,2.610719
1,1514764680,12/31/17 23:58,BTCUSD,13815.37,13825.00,13815.37,13825.00,3.547593
2,1514764620,12/31/17 23:57,BTCUSD,13775.00,13815.37,13775.00,13815.37,18.437304
3,1514764560,12/31/17 23:56,BTCUSD,13771.00,13775.00,13770.95,13775.00,7.538428
4,1514764500,12/31/17 23:55,BTCUSD,13782.87,13782.87,13771.00,13771.00,1.657980

In [14]:
df_btc = btc[['Date','Open','High','Low','Close','Volume']]

In [19]:
df_btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date    525600 non-null  object
 1   Open    525600 non-null  float64
 2   High    525600 non-null  float64
 3   Low     525600 non-null  float64
 4   Close   525600 non-null  float64
 5   Volume  525600 non-null  float64
dtypes: float64(5), object(1)
memory usage: 24.1+ MB

In [20]:
btc.shape

(525600, 8)

In [21]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Timestamp  525600 non-null  int64
 1   Date       525600 non-null  object
 2   Symbol     525600 non-null  object
 3   Open       525600 non-null  float64
 4   High       525600 non-null  float64
 5   Low        525600 non-null  float64
 6   Close      525600 non-null  float64
 7   Volume     525600 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 32.1+ MB

In [22]:
btc['Date'] = pd.to_datetime(btc['Date'])

In [23]:
btc.head()

,Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1514764740,2017-12-31 23:59:00,BTCUSD,13825.00,13825.00,13804.68,13820.26,2.610719
1,1514764680,2017-12-31 23:58:00,BTCUSD,13815.37,13825.00,13815.37,13825.00,3.547593
2,1514764620,2017-12-31 23:57:00,BTCUSD,13775.00,13815.37,13775.00,13815.37,18.437304
3,1514764560,2017-12-31 23:56:00,BTCUSD,13771.00,13775.00,13770.95,13775.00,7.538428
4,1514764500,2017-12-31 23:55:00,BTCUSD,13782.87,13782.87,13771.00,13771.00,1.657980

In [26]:
s=pd.Series(['a',3,np.nan,1,np.nan])

In [28]:
print(s.notnull().sum())

3

In [39]:
s[s.notnull()]

0    a
1    3
3    1
dtype: object

In [29]:
ss=pd.Series([np.nan,1,2,np.nan])

In [30]:
ss=ss.fillna(method='ffill')

In [32]:
ss.fillna(method='bfill')

0    1.0
1    1.0
2    2.0
3    2.0
dtype: float64

In [37]:
btc['Low'].value_counts()

4371.25     1724
922.99       635
4340.01      548
3709.85      458
15218.50     414
            ...
3803.92        1
3807.25        1
10036.33       1
3839.50        1
13804.68       1
Name: Low, Length: 174956, dtype: int64

In [42]:
btc['Low'].unique().sum()

1001351871.1500002

In [46]:
btc.duplicated().sum()

0

In [50]:
btc.duplicated(subset=['Date']).sum()

0