In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.read_csv?

In [2]:
#read dataset into adult variable
adult = pd.read_csv('../adult.csv',header=None)

In [3]:
adult.columns=['age','workclass','fnlwgt','education','education-num','marital-status','occupation',
              'relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country',
              'salary']

In [4]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
race = adult['race'].value_counts()
#race.column=['Race Count']
race

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

In [6]:
#average age for men
men = adult[adult['sex'].str.strip() =="Male"]
mean_age = round(np.mean(men['age']),0)
mean_age

39.0

In [7]:
#Bachelor's percentage
bachelor = adult[adult['education'].str.strip() == "Bachelors"]
bachelor_percent = (bachelor['education'].count()/adult['education'].count())*100
bachelor_percent = round(bachelor_percent,2)
bachelor_percent

16.45

In [8]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
advanced_education = adult[((adult['education'].str.strip()=="Bachelors") |
                            (adult['education'].str.strip()=="Masters") |
                            (adult['education'].str.strip()=="Doctorate")) & 
                           (adult['salary'].str.strip()==">50K")]
advanced_percent = (advanced_education['education'].count()/adult['education'].count()) * 100
advanced_percent=round(advanced_percent,2)
advanced_percent

10.71

In [10]:
#What percentage of people without advanced education make more than 50K?
not_advanced_education = adult[((adult['education'].str.strip()!="Bachelors") |
                            (adult['education'].str.strip()!="Masters") |
                            (adult['education'].str.strip()!="Doctorate")) & 
                           (adult['salary'].str.strip()==">50K")]
not_advanced_percent = (not_advanced_education['education'].count()/adult['education'].count()) * 100
not_advanced_percent=round(not_advanced_percent,2)
not_advanced_percent

24.08

In [12]:
#What is the minimum number of hours a person works per week?
min_hours = np.min(adult['hours-per-week'])
print(min_hours)

1

In [13]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
number_person = adult[(adult['hours-per-week']==np.min(adult['hours-per-week'])) &
                      (adult['salary'].str.strip()==">50K")]
percent_min =(number_person['hours-per-week'].count()/adult['hours-per-week'].count())*100
print(round(percent_min,2))

0.01

In [21]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
person_make_50k= adult[adult['salary'].str.strip()==">50K"]
max_count = np.max(person_make_50k['native-country'].value_counts())
country = person_make_50k['native-country'].value_counts()
max_count
country.index

Index([' United-States', ' ?', ' Philippines', ' Germany', ' India', ' Canada',
       ' Mexico', ' England', ' Italy', ' Cuba', ' Japan', ' Taiwan', ' China',
       ' Iran', ' South', ' Puerto-Rico', ' Poland', ' France', ' Jamaica',
       ' El-Salvador', ' Greece', ' Cambodia', ' Hong', ' Yugoslavia',
       ' Ireland', ' Vietnam', ' Portugal', ' Haiti', ' Ecuador', ' Thailand',
       ' Hungary', ' Guatemala', ' Scotland', ' Nicaragua', ' Trinadad&Tobago',
       ' Laos', ' Columbia', ' Dominican-Republic', ' Peru', ' Honduras'],
      dtype='object')